body,html{padding:0;margin:0;min-height:100%;
-moz-user-select: none;
-khtml-user-select: none;
user-select: none;
font-family:'\5FAE\8F6F\96C5\9ED1';
font-size:13px;
color:#333;
background-color:rgb(249,235,235);
}
h1,h2,h3,h4,h5,h6,ul,li,table,th,td,p{padding:0;margin:0;}
.ma{margin-left:auto;margin-right:auto;}
.vh{visibility:hidden;}
.db{display:block;}
.dib{float:none !important;display:inline-block;display:-moz-inline-box;-moz-box-align:stretch;+display:inline-block;vertical-align:middle;}
.dib{+display:inline}
@media all and (min-width: 0px){ .dib{display:inline-block} }

.wd-p-mt{padding-top:16px !important;}
.wd-p-space{padding:4px 0 16px 0 !important;}

/* 导航 */
#wd-navigate{position:fixed;z-index:100;width:100%;height:50px;background-color:#fff;box-shadow:0 0 4px rgba(189, 170, 170, 0.1);}
#wd-nav-left,#wd-nav-right{width:50px;height:100%;text-indent:-9999px;}
#wd-nav-left{float:left;background:url(../images/rose.png) center center no-repeat;background-size:30px 30px;}
#wd-nav-right{float:right;}
#wd-nav-title{line-height:49px;text-align:center;font-size:20px;}



#wd-content{position:relative;overflow:hidden;min-height:100%;padding:50px 0 0;}
.wd-backg{}
.wd-backg img{position:fixed;display:none;}
#wd-cont-wrap{position:relative;}
.wd-cont{width:320px;margin:0 auto;}
.wd-block{width:320px;border:1px solid #f00;color:#fdf9ff;}

.wd-piece{margin:0 0 0 -16px;padding:16px 0 40px;}
.wd-punit{float:left;margin:0 0 16px 16px;width:152px;}
.wd-button{display:block;height:40px;line-height:39px;text-align:center;font-size:18px;font-weight:bold;border-radius:3px 3px 3px 3px;background:#fd6b8c;color:#fff;text-decoration:none !important;}
/* 幻灯播放 slider */
.swipe {
  margin:0 auto;
  overflow: hidden;
  visibility: hidden;
  position: relative;
  background-color:#000;
  box-shadow:0 0 4px rgba(100, 100, 100, 0.8);
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
  width:100%;
  height:400px;
}
.swipe-wrap img{display:block;max-height:400px;margin:0 auto;}
.swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;
  text-align:center;
  overflow:hidden;
}

.touchslider-cont{position:relative;width:300px;line-height:13px;padding:0;margin:0;font-family:tahoma,arial,sans-serif;}
.touchslider-cont ul{position:absolute;left:0;top:0;margin:0;padding:0;}
.touchslider-cont ul li{list-style:none;width:298px;float:left;margin:0;padding:0 1px;font-size:12px;}
.touchslider-cont a{display:inline-block;width:70px;text-align:center;margin:0 2px 8px 0;}
.touchslider-cont a:nth-child(4n){margin-right:0px;}
.touchslider-cont a img{margin-bottom:6px;}

/* 分页面 page */
#wd-chamber{position:relative;height:0px;overflow:hidden;}

#wd-process{position:relative;z-index:2;}
/* 其他联系人入口 */
#wd-process .wd-e-contact{float:right;}

.wd-p-content{width:300px;min-height:100%;padding:0 10px 100px;margin:0 auto;}

.wd-p-cls{min-height:100%}
.wd-p-cls h3{line-height:32px;padding:8px 0 4px 0;font-weight:bold;}
.wd-p-cls ul{padding:16px 0 0}
.wd-p-cls li{list-style:disc;font-size:14px;margin:0 0 0 20px}
.wd-p-cls li p{padding:8px 0;line-height:23px;}
.wd-p-cls .wd-lhsp{line-height:27px;}

#wd-p-guide{letter-spacing:2px}

.wd-p-table{background-color:#eea4ae}
.wd-p-table td{padding:4px;vertical-align:top;background-color:rgb(249,235,235)}


/* 联系人 contact */
.wd-mess{width:32px;height:20px;margin:0 0 0 8px;background:url(../images/mess.png) center center no-repeat;background-size:32px 20px;}

/* 轻松一下 games */
.wd-p-gameunit{height:60px;line-height:55px;font-size:18px;border-bottom:1px solid #f7d5db;}
.wd-p-gameunit a{text-decoration:none !important;color:#333 !important;;}
.wd-p-gameunit img{float:left;margin:12px 16px 0 12px}
