*{
    padding:0;
    margin:0;
}
.nav{
    margin-bottom:40px;
    padding:20px;
    border-bottom:4px solid #ebebeb;
    a{
        &:link, &:visited{
            padding:0 20px;
            font-size:16px;
            font-weight:bold;
            color:#f14382;
        }
        &:hover{
            color:#666;
        }
    }
}
.container{
    width:960px;
    margin:0 auto;
    h1{
        margin-bottom:20px;
        text-align:center;
    }
    p{
        padding-bottom:12px;
        line-height:28px;
    }
}