body { margin: 40px 0; text-align: center; }

h1 { line-height: 42px; text-align: center; font-size: 40px; }

h2 { padding-left: 16px; margin: 32px 0 20px 0; border-left: 4px solid #f14382; }

.container { display: -moz-inline-stack; display: inline-block; vertical-align: middle; *vertical-align: auto; zoom: 1; *display: inline; padding: 48px; -webkit-box-shadow: 0px 0px 8px #666666; -moz-box-shadow: 0px 0px 8px #666666; box-shadow: 0px 0px 8px #666666; }

.wraper { position: relative; width: 800px; height: 1132px; text-align: left; }
.wraper .ac { position: absolute; width: 40px; height: 40px; border-style: solid; border-color: #bbb; }
.wraper .tl { top: 0; left: 0; border-width: 0 1px 1px 0; }
.wraper .tr { top: 0; right: 0; border-width: 0 0 1px 1px; }
.wraper .bl { bottom: 0; left: 0; border-width: 1px 1px 0 0; }
.wraper .br { bottom: 0; right: 0; border-width: 1px 0 0 1px; }

.content { padding: 0 42px; }

table { width: 100%; }
table td:nth-child(odd) { text-align: right; }
table td:nth-child(even) { text-align: left; }
