<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>{{ page.title }}</title>
<meta name="viewport" content="width=device-width">
<link rel="stylesheet" href="http://cdn.staticfile.org/typo.css/1.1/typo.min.css">
<link rel="stylesheet" href="/css/resume/style.css">
</head>
<body>
<div class="container" id="container">
	<div class="wraper">
		<div class="content">
			{{ content }}
		</div><!-- 
		<div class="ac tl"></div>
		<div class="ac tr"></div>
		<div class="ac bl"></div>
		<div class="ac br"></div> -->
	</div>
</div>
</body>
</html>
